{% extends 'base.html' %}

{% block title %}
<title>Job Applications</title>
{% endblock title %}

{% block content %}
<div id = "main">
<div class = "grid grid-cols-3">
<div class = "col-span-2"> 
<h2 class = "text-3xl">Recruitment</h2>
<br>
<p>You currently have {{user.jobs_hiring.count}} active jobs.</p>
</div>
<div class = "grid place-content-center">
<a class = "create-btn" href = "{% url 'jobs:create-job' %}">+ Create Job</a>
</div>
</div>
<br><br>
<p>
<ul>
{% for job in user.jobs_hiring.all %}
<div id = "job{{job.id}}">
    <li class = "res">
        <a class = "res-main" href = "{% url 'jobs:job-detail' job.id %}">{{job}}</a>
        <form hx-post = "{% url 'users:delete_job' %}" hx-target = "#job{{job.id}}">
            <input hidden name = "job_id" value = "{{job.id}}">
            <button type = "submit" class = "delete-btn" id = "{{job.id}}">Delete Job</button>
        </form>
        <br>Applicants :
            <ul>
                {% for applicant in job.applicants.all %}
                <li class = "option"> <a href = "{% url 'users:profile' applicant.username %}">{{applicant.username}}</a>
                        <form hx-post = "{% url 'users:delete_applicant' %}" hx-target = "#job{{job.id}}" hx-swap = "outerHTML">
                            {% csrf_token %}
                            <input hidden name = "job_id" value = "{{job.id}}">
                            <input hidden name = "applicant" value = {{applicant.username}}>
                            <button type = "submit" class = "delete-btn" id = "{{job.id}}">Delete Application</button>
                        </form>
                    </li>
                {% endfor %}
            
            </ul>
    </li>
</div>
    <br><br>
{% endfor %}
</ul>
</p>
</div>
{% endblock content %}