<div class="flex flex-1 justify-center align-items-center px-2 mb-10">
    <form class="flex border-0 relative w-3/4 justify-center focus:outline-none text-blue-300" method = "get" action = "{% url 'search' %}">
        <input aria-label="search" type="search" name="search" placeholder="Search" class="peer w-full bg-slate-700 border-0 border-b-2 border-b-blue-300 focus:border-b-blue-500 focus:text-blue-500 placeholder-blue-300 focus:placeholder-blue-500 justify-center place-items-center transition rounded py-3 px-3 pl-14 appearance-none outline-none leading-normal">
        <div class="absolute search-icon peer-focus:text-blue-500" style="top: 1rem; left: .8rem;">
            <svg class="fill-current pointer-events-none w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
        </div>
    </form>
</div>
